.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite .5s linear;
  }
}

.App-header {
  background-color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #273974;
}

/* @keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
} */

.btn-roll {
  background-color:rgb(84, 93, 177);
  color:aliceblue;
  border-style: none;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: large;
}
.btn-roll:hover{
  background-color:rgb(38, 51, 170);
}
.btn-adv {
  background-color:rgb(72, 180, 78);
  color:aliceblue;
  border-style: none;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: large;
}
.btn-adv:hover{
  background-color:rgb(19, 129, 43);
}
.btn-adv:focus{
  color:rgb(7, 80, 17);
  font-weight: bolder;
  background-color:rgb(171, 199, 171);
}
.btn-dis {
  background-color:rgb(197, 82, 82);
  color:aliceblue;
  border-style: none;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: large;
}
.btn-dis:hover{
  background-color:rgb(158, 27, 27);
}
.btn-dis:focus{
  color:rgb(114, 10, 10);
  font-weight: bolder;
  background-color:rgb(243, 174, 186);
}

.emote{
  font-size: 72px;
}

/* .modifier {
  height: 80px;
  font-size: large;
} */